<!DOCTYPE html>
<html>
    <head>
        {% load static %}
    	<meta charset="UTF-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shreyash Mogaveera | Work Experience</title>
        <link rel="icon" type="image" href="{% static 'images/Shreyash.jpeg' %}" width="100%" height="100%">
        <link rel="stylesheet" href="{% static 'css/work.css' %}">
        <link rel="stylesheet" href="{% static 'css/header.css' %}">
    </head>
    <body><header>
            <nav class="navbar" id="navbar">
                <div class="Name big">
                    <h3>Shreyash Mogaveera</h3>
                </div>
                <i class="fa-solid fa-bars fa-2xl" onclick="menu()" id="nav-btn"></i>
                <i class="fa-solid fa-xmark fa-2xl" onclick="cross()" id="close-btn"></i>
                <div class="navigation" id="navigate">
                    <div class="Name small">
                        <h3>Shreyash Mogaveera</h3>
                    </div>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/#about">About</a></li>
                        <li><a href="#">Work Experience</a></li>
                        <li><a href="/project">Projects</a></li>
                    </ul>
                </div>
            </nav>
        </header>
            <div class="work_experience scroll">
                <div class="box">
                    <div class="MESA"></div>
                    <div class="journey">
                        <h1>TEAM MESA</h1>
                        <div class="activate">
                            <div class="about">
                            <h2>About MESA</h2>
                            <p>We are Team of Young Enthusiast from Pimpri Chinchwad College of Engineering, Pune, providing students with platforms for their overall development. We conduct technical competitions, guest lectures, workshops, and other allied activities to inculcate professional attitude, and leadership qualities in students to make them professionally fit and confident to enter the Industrial world. We believe in the holistic development of the students to meet their professional & social needs. It connects the student community to the world outside the classroom walls.</p>
                            </div>
                            <div class="work">
                            <h2>My Journey</h2>
                            <div class="timeline">
                                <div class="MESA_w">
                                    <h3>President</h3>
                                    <p>Aug 2023 - present</p>
                                </div>
                                <div class="MESA_w">
                                    <h3>Vice-President</h3>
                                    <p>Aug 2022 - Aug 2023</p>
                                </div>
                                <div class="MESA_w">
                                    <h3>Website Manager</h3>
                                    <p>April 2022 - Aug 2023</p>
                                </div>
                                <div class="MESA_w">
                                    <h3>Event Manager</h3>
                                    <p>Jan 2022 - Aug 2022</p>
                                </div>
                            </div>
                            <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box">
                    <div class="TATA_power"></div>
                    <div class="journey">
                    <h1>TATA POWER</h1>
                    <div class="activate hide">
                        <div class="about">
                            <h2>About TATA POWER</h2>
                            <p>Tata Power is one of India's largest integrated power companies, present across the entire power value chain of conventional & renewable energy, power services, and next-generation customer solutions including solar rooftop, EV charging stations, and home automation.</p>
                        </div>
                        <div class="work">
                            <h3>Mehanical Engineering Intern</h3>
                            <p>June 2023 - July 2023</p>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="box">
                    <div class="NSS"></div>
                    <div class="journey">
                    <h1>NSS PCCOE</h1>
                    <div class="activate hide">
                        <div class="about">
                            <h2>About NSS PCCOE</h2>
                            <p>National Service Scheme comes under the Ministry of Youth Affairs and Sports, Government of India and NSS cell, Higher and technical education, Govt. of Maharashtra. NSS was launched in Gandhiji's Centenary year, 1969-70.

                                Understanding the need of social development of youth from technical field to serve the society in effective way, NSS was started in the academic year 2008-09 in Pimpri Chinchwad College of Enginering, Nigdi.
                                
                                The scheme aims to inculcate social welfare in students, and to provide better service to society through voluntary work. NSS volunteers work to ensure that everyone who is needy gets help to enhance their standard of living.
                                
                                </p>
                        </div>
                        <div class="work">
                            <h3>NSS Mechanical Departmental Student Coordinator</h3>
                            <p>Jan 2022 - Aug 2022</p>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <footer>
                <p class="copyright">Shreyash Mogaveera © 2023-All Rights Reserved</p>
            </footer>
    </body>
    <script src="https://kit.fontawesome.com/510078e498.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/header.js' %}"></script>
</html>